ul {
  padding: 0;
}

.accordion-list {
  box-sizing: border-box;
  padding: 35px 40px;
  width: 100%;
}

.tab-list {
  display: inline;
  list-style: none;
}

.tab-anchor {
  display: inline-block;
  background-color: #F2F2F2;
  color: #666666;
  width: 21.4%;
  text-align: center;
  padding: 10px 20px;
}

.tab-anchor.active {
  background-color: #FFF;
  border: solid 1px #CCC;
  border-bottom-color: #FFFFFF;
  font-weight: bold;
}

.tab-content {
  display: none;
  float: left;
  padding: 30px 20px;
  border: solid 1px #CCC;
  border-top: none;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-wrapper {
  width: 30%;
}

.wireframe-box {
  width: 100%;
  height: 350px;
}

.sagan-ipsum {
  display: inline-block;
  box-sizing: border-box;
  padding: 17px 0 17px 17px;
  width: 70%;
}

.sagan-ipsum-header {
  font-weight: bold;
  font-size: 20px;
}

.header-line {
  border-bottom: solid 1px #C2C2C2;
}

@media screen and (max-width: 1434px) {
  .tab-anchor {
    width: 4%;
  }

  .tab-content {
    border-top: solid 1px #CCC;
  }
}

@media screen and (max-width: 1010px) {
  .sagan-ipsum {
    width: 100%;
  }

 .image-wrapper {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 608px) {  
  .accordion-list,
  .sagan-ipsum {
    width: 100%;
    padding: 5px;
    text-align: justify;
  }

  .tab-anchor {
    width: 93%;
  }
}