.accordion-list {
  box-sizing: border-box;
  padding: 0 50px;
  width: 100%;
  overflow: hidden;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 104%
}

.tab-list-pc {
  position: relative;
  float: left;
  padding: 15px 0;
  width: 24%;
  text-align: center;
  background-color: #F2F2F2;
  font-size: 17px;
  border-bottom: solid 1px #CCC;
}

.tab-list-pc.active {
  border: solid 1px #CCC;
  border-bottom: solid 1px #FFF;
  background-color: #FFF;
  font-weight: bold;
}

.expand {
  display: none;
}

.tab-content {
  float: left;
  padding: 45px 20px 20px;
  border: solid 1px #CCC;
  border-top: none;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image-wrapper {
  width: 30%;
}

.wireframe-box {
  width: 100%;
  height: 350px;
}

.sagan-ipsum {
  display: inline-block;
  box-sizing: border-box;
  padding: 17px 0 17px 17px;
  width: 70%;
}

.sagan-ipsum-header {
  font-weight: bold;
  font-size: 20px;
}

.header-line {
  border-bottom: solid 1px #C2C2C2;
}

.tab-list-mobile,
.hidden {
  display: none;
}

@media screen and (max-width: 878px) {
  .sagan-ipsum {
    padding: 0;
    width: 100%;
  }

 .image-wrapper {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 708px) {  
  .accordion-list,
  .sagan-ipsum {
    width: 100%;
    text-align: justify;
  }

  .flex-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 555px) {
  .tab-list-pc {
    display: none;
  }

  .accordion-list {
    padding: 0;
  }

  .tab-list-mobile {
    display: inline-block;
    margin: -1px;
    width: 100%;
    background-color: #F2F2F2;
    color: #666666;
    font-size: 20px;
    border-bottom: none;
    border: solid 1px #F2F2F2;
  }

  .tab-list-mobile.active {
    width: 99.9%;
    margin: 0px;
    font-weight: bold;
    background: white;
    border: solid 1px #CCC;
    border-left: none;
    border-right: none;
  }

  .tab-list-mobile p {
    float: left;
    margin: 24px;
  }

  .tab-anchor {
    position: relative;
    right: 40%;
  }

  .expand {
    display: inline-block;
    float: right;
    margin: 21px;
    color: #666666;
    font-size: 23px;
    font-weight: bold;
  }

  .tab-content {
    padding: 0;
  }

  .sagan-ipsum {
    padding: 0 25px;
  }
}