body {
  font-family: sans-serif;
  margin: 0;
}

header,
.codepen-btn {
  background-color: #2D2334;
}

h1 {
  margin: 0;
  padding: 10px 70px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #FFFFFF;
}

h1,
h4 {
  display: inline-block;
  color: #FFFFFF;
}

h4 {
  padding: 5px 70px;
  float: right;
}

span.blue-text {
  color: #66CED0;
}

.accordion {
  margin: 0 auto;
}

.horizontal-line,
.pattern-types {
  display: inline-block;
}

.horizontal-line {
  position: relative;
  right: -73px;
  width: 90%;
  border-bottom: solid 1px #C2C2C2;
}

.pattern-types {
  position: relative;
  top: 10px;
  left: -108px;
  margin: 45px 70px 0;
  padding: 0px 38px;
  background-color: #FFFFFF;
  color: #191919;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.accordion-list {
  padding: 30px 113px;
}

.tab-list {
  display: inline;
  list-style: none;
}

.tab-anchor {
  display: inline-block;
  width: 23.16%;
  background-color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 9px;
}

.tab-anchor.active {
  background-color: #FFF;
  border: solid 1px #CCC;
  border-bottom-color: #FFFFFF;
  text-decoration: none;
}

.tab-anchor:active {
  text-decoration: none;
}

.tab-content {
  display: none;
  float: left;
  border: solid 1px #CCC;
  border-top: none;
}

.tab-content.show {
  padding: 30px 20px;
  width: 96.3%;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.wireframe-box {
  position: relative;
  width: 350px;
  height: 350px;
}

.sagan-ipsum-header {
  font-weight: bold;
  font-size: 20px;
}

.header-line {
  border-bottom: solid 1px #C2C2C2;
}

.sagan-ipsum {
  display: inline-block;
  width: 68%;
  padding-left: 20px;
}

.codepen-btn {
  position: relative;
  padding: 10px 100px;
  font-size: 20px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #FFFFFF;

}